/* head and text */

header {
    margin: auto ;
    text-align: center;
    font-style: italic;
    font-size: clamp(1rem, 3vw, 1.4rem);
    background: linear-gradient(90deg, darkred, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 20px;
    width: max-content;
}

h1 {
    position: relative;
}

h1::after {
    content: '';
    position: absolute;
    height: .15em;
    width: 100%;
    background: linear-gradient(90deg,red, darkred);
    left: 0;
    bottom: 0;
}


/* visials content */
body {
    background: radial-gradient(black,gray,black,gray,black);
    overflow: hidden;
}

.Borders {
    width: 5vw;
    background-color: black;
    width: calc(100vw - 100px);
    border-radius: 15px;
    margin: auto;
    border: solid 2dvh;
}

.Middle {
    color: black;
    background-color: pink;
    height: calc(100vh - 190px);
    height: calc(100dvh - 190px);
    width: calc(100vw - 175px);
    place-items: center;
    border-radius: 15px;
    margin: auto;
}

.animate {
    position: relative;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 8%;
} 

.animate, select, option {
    font-size: clamp(1.8rem, 4vw, 3rem);
}

.player {
    width: 40dvw;
    max-width: 35rem;
    height: 40dvw;
    max-height: 35rem;
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
    position: absolute;

}

.background {
    width: 60dvw;
    height: 40dvw;
    max-height: 35rem;
    border-radius: 15px;
    background-color: green;
    position: absolute;
}


/* footer */
a {
    text-decoration: none;
    font-style: italic;
    color: red;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    background-color: red;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .10em;
}

a:hover {
    background-color: white;
    border: 1px solid black;
    text-decoration: underline;
    border-radius: 5px;
}



footer {
    text-align: center;
}


/* media */
@media screen and (width < 800px) {
    canvas {
        width: 300px;
        height: 300px;
    }
}

@media screen and (height < 1000px) {
    canvas {
        width: 300px;
        height: 300px;
    }
    .animate {
        margin-top: 30%;
    }
}

@media screen and (height < 600px) {
    .animate{
        margin-top: 15%;
        
    }
}
    