header {
    margin: auto ;
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: clamp(1.8rem, 4vw, 5rem);
}

body {
    background-color: black;
    background: radial-gradient(black,gray,black,gray,black);
    overflow: hidden;
}

.Borders {
    width: 5vw;
    background-color: black;
    width: calc(100vw - 100px);
    border-radius: 15px;
    margin: auto;
    border: solid 2dvh;
    border: solid 2vh;
}

.Outer {
    text-align: center;
    width: 95vw;
}

.Middle {
    color: black;
    background-color: ghostwhite;
    height: calc(100vh - 190px);
    width: calc(100vw - 175px);
    display: grid;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Inner {
    text-align: center;
} 

canvas {
    border: 5px solid black;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 600px;
    height: 600px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-style: italic;
    color: red;
}

a:hover {
    background-color: white;
    border: 1px solid black;
    text-decoration: underline;
    border-radius: 5px;
}

@media screen and (width < 800px) {
    canvas {
        width: 300px;
        height: 300px;
    }
}

@media screen and (height < 800px) {
    canvas {
        width: 300px;
        height: 300px;
    }
}
    